<style>
    .req{
        color: red;
        font-size: 14px;
    }
    .card{
        border: none;
        border-top: 3px solid #17a2b8 ;
    }
    .modal-header{
        border: none;
        border-top: 3px solid #17a2b8 ;
        border-bottom: 1px solid lightgray;
    }
    h4{
        color: #17a2b8;
    }
    img{
        object-fit: cover;object-position: top;
    }
    .view_image{
        padding: 10px;
        box-sizing: border-box;
        border: 4px solid rgb(162, 166, 167) !important;
    }
</style>
<section class="content ">
    <div class="container-fluid py-4" id="createProductSection">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="m-0">Add Staff</h4>
                
            </div>
            <form name="addStaffForm" novalidate enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Full Name <span class="req">*</span> </label>
                                <input class="form-control" type="text" placeholder="Name"
                                 name="sname" ng-model="ng_sname" pattern="^[a-z A-Z]*$" required>
                            </div>
                            <div ng-show="addStaffForm.sname.$dirty && addStaffForm.sname.$invalid">
                                <small class="text-danger" ng-show="addStaffForm.sname.$invalid">
                                    ( Only characters are allowed )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addStaffForm.sname.$error.required">
                                    Required
                                </small>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Gender <span class="req">*</span> </label>
                                <select id="" class="form-control" style="width: 100%;"
                                name="gender" ng-model="ng_gender" required>
                                    <option value="" selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addStaffForm.gender.$dirty && ng_gender == 0">
                                <small class="text-danger"> Please Select Gender! </small>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Phone <span class="req">*</span> </label>
                                <input class="form-control"  type="text" placeholder="03053609490" 
                                 name="sphone" ng-model="ng_sphone" required="required"
                                  minlength="11" maxlength="11" pattern="^[0-9]*$">
                            </div>
                            <div class="form-group" ng-show="addStaffForm.sphone.$dirty && addStaffForm.sphone.$invalid">
                                <small class="text-danger" ng-show="addStaffForm.sphone.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addStaffForm.sphone.$error.required">
                                    Required*
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Blood Group <span class="req">*</span> </label>
                                <select name="" id="" class="form-control" 
                                name="sbgroup" ng-model="ng_sbgroup" required>
                                    <option value="" selected>Select Blood Group</option>
                                    <option value="A-">A-</option>
                                    <option value="A+">A+</option>
                                    <option value="B-">B-</option>
                                    <option value="B+">B+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="O-">O-</option>
                                    <option value="O+">O+</option>
                                </select>
                            </div>
                            <div class="form-group" ng-show="addStaffForm.sbgroup.$dirty && ng_sbgroup == 0">
                                <small class="text-danger"> Please Select Blood Group! </small>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">Age <span class="req">*</span> </label>
                                <input class="form-control" type="number" placeholder="Age" 
                                name="sage" ng-model="ng_sage" required maxlength="2">
                            </div>
                            <div class="form-group" ng-show="addStaffForm.sage.$dirty && addStaffForm.sage.$invalid">
                                <small class="text-danger" ng-show="addStaffForm.sage.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <br>
                                <small class="text-danger" ng-show="addStaffForm.sage.$error.required">
                                    Required
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="">CNIC <small>(Optional)</small> </label>
                                <input class="form-control"  type="text" placeholder="3130440236215" 
                                 name="scnic" ng-model="ng_scnic"
                                  minlength="13" maxlength="13" pattern="^[0-9]*$">
                            </div>
                            <div class="form-group" ng-show="addStaffForm.scnic.$dirty && addStaffForm.scnic.$invalid">
                                <small class="text-danger" ng-show="addStaffForm.scnic.$invalid">
                                    ( Only number allowed, no character accepted )
                                </small>
                                <!-- <br>
                                <small class="text-danger" ng-show="addStaffForm.scnic.$error.required">
                                    Required*
                                </small> -->
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="">Address <small>(optional)</small> </label>
                            <textarea class="form-control" id="" rows="5" placeholder="Address" 
                            name="saddress" ng-model="ng_saddress">

                            </textarea>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="id_editStaffImg">Upload Image <small>(optional)</small> </label>
                            <div style="width: 100%; height:auto;"  action="/file-upload" class="dropzone"
                             id="staff_dropzone"></div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                                <button class="btn btn-block btn-info btn-md" 
                                ng-disabled="addStaffForm.$invalid || ng_gender===0 || ng_sbgroup===0" 
                                ng-click="createStaff()">Create Staff</button> 
                            </div>   
                        </div>

                    </div>
                </div>
            </form>
            <div class="card-footer text-right">
                <button class="btn btn-xs btn-dark" ng-click="hideaddProduct()">Back</button>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4" id="productListingSection">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-0">Staff Listing</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-sm btn-dark" ng-click="showCreateProductSection()">
                            <i class="far fa-plus-square"></i> Add Staff
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive col-md-12">
                <table class="table table-borderless table-hover" 
                 datatable="ng" dt-option="vm.dtOptions">
                 <caption>List of Staff</caption>
                    <thead class="thead-light">
                        <tr class="">
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Blood Group</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="st in staff_data">
                            <td class="align-middle">{{ $index+1 }}</td>
                            <td class="align-middle">
                                <span class="mr-2" ng-if="st.image !== ''">
                                    <img ng-src="{{st.image}}" width="45px" height="45px" 
                                    alt="" class="rounded-circle">
                                </span>
                                <span class="mr-2" ng-if="st.image == ''">
                                    <img src="public/dist/img/avatar5.png" width="45px" height="45px" 
                                    alt="" class="rounded-circle">
                                </span>
                                {{ st.instructor_name }}</td>
                            <td class="align-middle">{{ st.phone }}</td>
                            <td class="align-middle">{{ st.blood_group }}</td>
                            <td class="align-middle">{{ st.age }}</td>
                            <td class="align-middle">{{st.address}}</td>
                            <td class="align-middle">{{st.gender}}</td>
                            <td class="align-middle">
                                <button class="btn btn-xs btn-primary" ng-click="viewStaffModal(st)">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-success" ng-click="updateStaffModal(st)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="delStaff(st.instructor_id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Staff Edit Modal Starts  -->
<div class="modal fade" id="modalStaffEdit">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Staff</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="">
                    <form name="editStaffForm" novalidate enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" ng-model="ng_editsid">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Full Name <span class="req">*</span> </label>
                                        <input class="form-control" type="text" placeholder="Name"
                                         name="editsname" ng-model="ng_editsname" pattern="^[a-z A-Z]*$" required>
                                    </div>
                                    <div ng-show="editStaffForm.editsname.$dirty && editStaffForm.editsname.$invalid">
                                        <small class="text-danger" ng-show="editStaffForm.editsname.$invalid">
                                            ( Only characters are allowed )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editStaffForm.editsname.$error.required">
                                            Required
                                        </small>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Gender <span class="req">*</span> </label>
                                        <select id="" class="form-control" style="width: 100%;"
                                        name="editgender" ng-model="ng_editgender" required>
                                            <option value="" selected>Select Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editStaffForm.editgender.$dirty && ng_editgender == 0">
                                        <small class="text-danger"> Please Select Gender! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Phone <span class="req">*</span> </label>
                                        <input class="form-control"  type="text" placeholder="03053609490" 
                                         name="editsphone" ng-model="ng_editsphone" required="required"
                                          minlength="11" maxlength="11" pattern="^[0-9]*$">
                                    </div>
                                    <div class="form-group" ng-show="editStaffForm.editsphone.$dirty && editStaffForm.editsphone.$invalid">
                                        <small class="text-danger" ng-show="editStaffForm.editsphone.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editStaffForm.editsphone.$error.required">
                                            Required*
                                        </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Blood Group <span class="req">*</span> </label>
                                        <select name="" id="" class="form-control" 
                                        name="editsbgroup" ng-model="ng_editsbgroup" required>
                                            <option value="" selected>Select Blood Group</option>
                                            <option value="A-">A-</option>
                                            <option value="A+">A+</option>
                                            <option value="B-">B-</option>
                                            <option value="B+">B+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="O-">O-</option>
                                            <option value="O+">O+</option>
                                        </select>
                                    </div>
                                    <div class="form-group" ng-show="editStaffForm.editsbgroup.$dirty && ng_editsbgroup == 0">
                                        <small class="text-danger"> Please Select Blood Group! </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">Age <span class="req">*</span> </label>
                                        <input class="form-control" type="number" placeholder="Age" 
                                        name="editsage" ng-model="ng_editsage" required maxlength="2">
                                    </div>
                                    <div class="form-group" ng-show="editStaffForm.editsage.$dirty && editStaffForm.editsage.$invalid">
                                        <small class="text-danger" ng-show="editStaffForm.editsage.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <br>
                                        <small class="text-danger" ng-show="editStaffForm.editsage.$error.required">
                                            Required
                                        </small>
                                    </div>
                                </div>
        
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="">CNIC <small>(Optional)</small> </label>
                                        <input class="form-control"  type="text" placeholder="3130440236215" 
                                         name="editscnic" ng-model="ng_editscnic"
                                          minlength="13" maxlength="13" pattern="^[0-9]*$">
                                    </div>
                                    <div class="form-group" ng-show="editStaffForm.editscnic.$dirty && editStaffForm.editscnic.$invalid">
                                        <small class="text-danger" ng-show="editStaffForm.editscnic.$invalid">
                                            ( Only number allowed, no character accepted )
                                        </small>
                                        <!-- <br>
                                        <small class="text-danger" ng-show="editStaffForm.editscnic.$error.required">
                                            Required*
                                        </small> -->
                                    </div>
                                </div>
        
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="">Address <small>(optional)</small> </label>
                                    <textarea class="form-control" id="" rows="5" placeholder="Address" 
                                    name="editsaddress" ng-model="ng_editsaddress">
        
                                    </textarea>
                                </div>
        
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="id_editStaffImg">Upload Image <small>(optional)</small> </label>
                                    <div style="width: 100%; height:auto;"  action="/file-upload" class="dropzone"
                                     id="editstaff_dropzone"></div>
                                </div>
        
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                                    <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
                                        <button class="btn btn-block btn-info btn-md" 
                                        ng-disabled="editStaffForm.$invalid || ng_editgender===0 || ng_editsbgroup===0" 
                                        ng-click="updateStaff()">Update Staff</button> 
                                    </div>   
                                </div>
        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- Staff Edit Modal Ends  -->

<!-- Staff View Modal Starts  -->
<div class="modal fade" id="modalStaffView">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">View Staff</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid p-3">
                <div class="row">
                    <div class="col-md-3 text-center" ng-if="view_simage !== ''">
                        <img ng-src="{{view_simage}}" alt="" class=" rounded-circle view_image" width="150px" height="150px">
                    </div>
                    <div class="col-md-3 text-center" ng-if="view_simage == ''">
                        <img src="public/dist/img/avatar5.png" alt="" class="rounded-circle view_image" width="150px" height="150px">
                    </div>
                    <div class="col-md-9">
                        <div class="row py-2 bg-light">
                            <div class="col-md-4">
                                <h5>Name:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_sname}}</h5>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">
                                <h5>Phone:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_sphone}}</h5>
                            </div>
                        </div>
                        <div class="row py-2 bg-light">
                            <div class="col-md-4">
                                <h5>Blood Group:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_sbgroup}}</h5>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">
                                <h5>Address:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_saddress}}</h5>
                            </div>
                        </div>
                        <div class="row py-2 bg-light">
                            <div class="col-md-4">
                                <h5>Gender:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_gender}}</h5>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-4">
                                <h5>Age:</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>{{view_sage}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- Staff View Modal Ends  -->
<script> 
    $('.select2').select2();
   
    
</script>
    
</script>